@using Microsoft.AspNet.Identity
@model CrossEduAsp.Models.GameViewModel

@{
    Model.Comment.GameId = Model.Game.Id;
}

<div class="thumbnail">
    @foreach (var item in Model.CommentList)
    {
        <div class="row comment margin-left">
            <div class="col-md-1 blue">
                @Html.DisplayFor(m => item.ApplicationUser.UserName)
            </div>
            <div class="col-md-10 silver">
                @Html.DisplayFor(m => item.DateOfPublication)
            </div>
            <div class="col-md-12">                
                @Html.DisplayFor(m => item.Content)
            </div>

            @if (item.ApplicationUserId == @User.Identity.GetUserId())
            {
                <div class="col-md-2 font10px">
                    @Html.ActionLink("Edit", "Edit", "Comment", new { id = item.Id }, null)
                    @Html.ActionLink("Delete", "Delete", "Comment", new { id = item.Id }, null)
                </div>
            }
        </div>
    }
</div>